.data {
    margin-top: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &__pagination {
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px;
    }
}
