.details {
    width: 100%;
    border-collapse: collapse;

    &__header {
        @include details-row();
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        th {
            font-weight: 500;
            text-align: left;
        }
    }

    &__info {
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        cursor: pointer;

        &:hover {
            .details__tooltip {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-out 0.5s;
            }
        }
    }

    &__info-icon {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        fill: $gray;
    }

    &__tooltip {
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 100;
        transform: translateX(100%);
        max-width: 120px;
        padding: 10px;
        border-radius: 6px;
        background-color: #ffffff;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.15));
        text-transform: initial;
        opacity: 0;
        visibility: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 1px;
            transform: translateX(-100%);
            border: 6px solid transparent;
            border-right-color: #ffffff;
        }
    }

    &__row {
        @include details-row();
        font-size: 1.4rem;
    }

    &__date {
        align-self: center;
        text-transform: uppercase;
    }

    &__activity,
    &__description {
        color: $black;
    }

    &__placeholder {
        @include row-placeholder();
    }
}
