.details {
    width: 100%;
    border-collapse: collapse;

    &__header {
        @include details-row();
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        th {
            font-weight: 500;
            text-align: left;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__info-icon {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        fill: $gray;
    }

    &__row {
        @include details-row();
        font-size: 1.4rem;
    }

    &__date {
        align-self: center;
        text-transform: uppercase;
    }

    &__activity,
    &__description {
        color: $black;
    }

    &__placeholder {
        padding: 40px 0;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
}
