.filters {
    position: absolute;
    z-index: 100;
    min-width: 200px;
    padding: 30px 10px 10px 10px;
    border: 1px solid $gray-light;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3px);

    &--visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all 0.3s ease-out;
    }

    &__close {
        @include dropdown-close-button();
    }

    &__title {
        padding: 0 10px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &__section {
        &:not(:last-of-type) {
            padding-bottom: 5px;
            border-bottom: 1px solid $white;
        }

        &:not(:first-of-type) {
            margin-top: 10px;
        }
    }

    &__title {
        margin-bottom: 5px;
    }

    .filters__radio {
        border-radius: 4px;
        transition: background-color 0.2s ease-out;

        &:hover,
        &:focus-visible {
            background-color: $white;
        }
    }

    .radio__label {
        padding: 7px 10px;
    }
}
