.header {
    &__title {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        border-bottom: 1px solid $gray-light;

        @media screen and (max-width: $sm) {
            flex-direction: column-reverse;
        }
    }

    &__filter {
        display: flex;
        list-style-type: none;
        user-select: none;
    }

    &__filter-item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__filter-tab {
        position: relative;
        padding: 0 4px 8px 4px;
        border: none;
        background-color: transparent;
        color: inherit;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 500;
        transition: color 0.2s ease-out;
        cursor: pointer;
        user-select: none;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            height: 2px;
            width: 100%;
            background-color: $black;
            opacity: 0;
            transition: opacity 0.2s ease-out;
        }

        &--active,
        &:hover,
        &:focus-visible {
            color: $black;
        }

        &--active {
            &::after {
                opacity: 1;
            }
        }
    }

    &__amount {
        font-size: 1.4rem;
        font-weight: 500;

        @media screen and (max-width: $sm) {
            margin-bottom: 20px;
        }
    }

    &__amount-value {
        color: $purple;
        font-weight: 700;
    }
}
