.table {
    width: 100%;
    min-width: 850px;
    border-collapse: collapse;

    &__header {
        display: grid;
        grid-template-columns: 30px 35px 1fr 1fr 0.7fr 70px 120px;
        align-items: center;
        column-gap: 10px;
        padding: 12px 20px;
        border-top: 1px solid $blue-light;
        border-bottom: 1px solid $blue-light;
        background-color: $light;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        @media screen and (max-width: $lg) {
            grid-template-columns: 30px 35px 1fr 0.7fr 0.7fr 70px 50px;
        }
    }

    &__header-cell {
        font-weight: 500;
        text-align: left;

        &--right {
            text-align: right;
        }
    }

    &__check {
        display: flex;
        align-items: center;
    }

    &__details-wrapper {
        max-height: 0;
        overflow: hidden;
        background-color: $light;
        transition: max-height 0.4s ease-out;
    }

    &__placeholder {
        @include row-placeholder();
        border-bottom: 1px solid $blue-light;
    }

    &__right {
        text-align: right;
    }
}
