.table {
    width: 100%;
    border-collapse: collapse;

    &__header {
        display: grid;
        grid-template-columns: 85px 0.7fr 1fr 0.7fr 190px;
        align-items: center;
        padding: 12px 20px;
        border-top: 1px solid $blue-light;
        border-bottom: 1px solid $blue-light;
        background-color: $light;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        th {
            font-weight: 500;
            text-align: left;
        }
    }

    &__check {
        display: flex;
        align-items: center;
    }

    &__details {
        background-color: $light;
    }
}
