.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include round-highlight($gray-light-transparent, 30px);

    &:disabled {
        cursor: default;
    }

    &__icon {
        width: 16px;
        height: 16px;
        fill: $gray;
    }

    &--small {
        @include round-highlight($gray-light-transparent, 20px);

        .icon-button__icon {
            width: 10px;
            height: 10px;
        }
    }
}
