.row {
    display: grid;
    grid-template-columns: 40px 45px 0.7fr 1fr 0.7fr 60px 130px;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid $blue-light;

    &__details-button {
        transition: transform 0.4s ease-out;

        &--active {
            transform: rotate(180deg);
        }
    }

    &__name {
        color: $black;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__email {
        margin-top: 5px;
        font-size: 1.4rem;
    }

    &__user-last-login {
        margin-top: 5px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__user-payment {
        text-transform: capitalize;
    }

    &__payment-date {
        margin-top: 5px;
        color: $black;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__amount {
        text-align: right;
    }

    &__amount-value {
        color: $black;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__amount-currency {
        margin-top: 5px;
        font-size: 1.2rem;
    }

    &__more {
        justify-self: end;
    }

    &__more-button {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        color: $gray;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.2s ease-out;

        &:hover,
        &:focus-visible {
            color: $purple;

            .row__more-icon {
                fill: $purple;
            }
        }
    }

    &__more-text {
        margin-right: 15px;
    }

    &__more-icon {
        width: 20px;
        height: 20px;
        fill: $gray;
        transition: fill 0.2s ease-out;
    }

    &__more-dropdown {
        position: relative;
    }
}
