.row {
    display: grid;
    grid-template-columns: 30px 35px 1fr 1fr 0.7fr 70px 120px;
    align-items: center;
    column-gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid $blue-light;

    @media screen and (max-width: $lg) {
        grid-template-columns: 30px 35px 1fr 0.7fr 0.7fr 70px 50px;
    }

    @media screen and (max-width: $sm) {
        padding: 10px;
    }

    &__details-button {
        transition: transform 0.4s ease-out;

        &--active {
            transform: rotate(180deg);
        }
    }

    &__user {
        overflow: hidden;
    }

    &__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $black;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__email {
        margin-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4rem;
    }

    &__user-last-login {
        margin-top: 5px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__user-status,
    &__user-payment {
        text-transform: capitalize;
    }

    &__payment-date {
        margin-top: 5px;
        color: $black;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__amount {
        text-align: right;
    }

    &__amount-value {
        color: $black;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__amount-currency {
        margin-top: 5px;
        font-size: 1.2rem;
    }

    &__more {
        position: relative;
        justify-self: end;
    }

    &__more-button {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        color: $gray;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.2s ease-out;

        &:hover,
        &:focus-visible {
            color: $purple;

            .row__more-icon {
                fill: $purple;
            }
        }
    }

    &__more-text {
        margin-right: 15px;

        @media screen and (max-width: $lg) {
            display: none;
        }
    }

    &__more-icon {
        width: 20px;
        height: 20px;
        fill: $gray;
        transition: fill 0.2s ease-out;
    }
}
