@mixin dropdown-close-button {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
