*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $white;
    color: $gray;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
th,
td {
    margin: 0;
    padding: 0;
}

a:focus,
button:focus {
    outline: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 20px;

    @media screen and (max-width: $sm) {
        padding: 30px 10px;
    }
}
