$red: #d30000;
$blue: #4a4aff;
$gray: #6e6893;
$green: #007f00;
$black: #25213b;
$steel: #8b83ba;
$light: #f4f2ff;
$white: #f2f0f9;
$purple: #6d5bd0;
$yellow: #ce8500;
$red-light: #ffe0e0;
$gray-light: #c6c2de;
$green-light: #cdffcd;
$yellow-light: #ffeccc;

$gray-light-transparent: rgba(110, 104, 147, 0.2);
